<ion-card>
  <ion-card-content>
    <ion-item>
      <ion-label floating>Email Address</ion-label>
      <ion-input typeof="email" [(ngModel)]="account.email" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input typeof="password" [(ngModel)]="account.password"></ion-input>
    </ion-item>
    <div class="register-form__button">
      <ion-row>
        <button ion-button small (click)="register()">Register</button>
      </ion-row>
    </div>

  </ion-card-content>
</ion-card>
